aiohttp==3.6.3
async-timeout==3.0.1
attrs==20.3.0
chardet==3.0.4
discord==1.0.1
discord.py==1.5.1
idna==2.10
multidict==4.7.6
yarl==1.5.1
youtube-search-python==1.3.2
wikipedia==1.4.0
wolframalpha
requests==2.25.0
praw==7.1.0
prawcore==1.5.0
async-timeout==3.0.1